{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vietnam Travel{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    {% endblock %}
</head>
<body>
    <div id="wrap">
        <header>
            <nav class="navbar container flex">
                <a href="{% url 'home' %}"><img id="logo" src="{% static 'images/logo.png' %}" alt="logo"></a>
    
                <input type="checkbox" id="menu-toggler">
                <label for="menu-toggler" id="hamburger-btn">
                    <i class="fa-solid fa-bars"></i>
                </label>
    
                <ul class="nav-links flex">
                    <li><a href="{% url 'home' %}">Trang Chủ</a></li>
                    <li><a href="{% url 'vietnam' %}">Khám Phá</a></li>
                    <li><a href="{% url 'search' %}">Tra Cứu</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer width-100">
        </footer>
    </div>
    {% block script %}
    <script src="{% static 'scripts/list.js' %}"></script>
    {% endblock %}
</body>
</html>